:root {
    --main-text-color: #2C2C2C;
    --accent-color: #0F3F3C;
    --main-background-color: #FFFFFF;
    --main-accent-color:#F07F2E;

    --indent: 16px;
    --items: 10;
}
 h1,h2,h3,h4,p,ul,ol {
    margin: 0;
    padding: 0;
 }

.link {
    text-decoration: none;
}
.list {
  list-style:none;
  text-decoration: none;
}

.section {
    margin-bottom: 60px;
    padding-left: 248px;
    padding-right: 248px;
    background-color: var(--main-background-color);
}
.container {
  width: 944px;
   margin: 0;
}

/**
  |============================
  | card set
  |============================
*/
.card-set {
display: flex;
flex-wrap: wrap;
gap: var(--indent);
}
.card-set-item {
flex-basis: calc ((100%-var(--indent)* (var(--items)-1))/ var(--items));
}
/**
  |============================
  | header
  |============================
*/
.header-container {
display: flex;
padding: 16px;;
}
.menu-nav {
    display: flex;
    
}
.menu-nav-list {
    display: flex;
    gap:40px;
}
.logo-image {
    
}
.logotype {
    display: block;
}
.title-header {
    
font-weight: 700;
font-size: 24px;
line-height: 1.6;
letter-spacing: 0.5px;
color: var(--main-accent-color);
}
.logo-title {
    display: flex;
    margin-right: 279px;
    align-items: center;
    gap:8px;
    justify-content: center;
}
.menu-nav-link {
display: block;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.5px;
color: var(--main-text-color);
}
.nav-container {
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
}
.menu-nav-item {
    display: flex;
}
 /**
   |============================
   | hero
   |============================
 */
 .hero-container {
    
    height: 480px;
    background-image: url(../images/hero/picture\ 1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    border-radius: 16px;
 }
 .hero-text {
    padding-top: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;

    width: 432px;
    height: 192px;
    background-color: var(--accent-color);
    border-radius: 16px;

 }
.primary-title {
    margin-bottom: 8px;
   
font-weight: 700;
font-size: 32px;
line-height: 1;
letter-spacing: 1.25px;
color: var(--main-background-color);
}
.text-body {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.5px;
} 
.text-body-light {
    width: 384px;
    height: 96px;
    color: var(--main-background-color);
}

/**
  |============================
  | friends
  |============================
*/
.secondary-title {
margin-bottom: 40px;

font-weight: 700;
font-size: 24px;
line-height: 40px;
letter-spacing: 0.5px;
color: var(--main-text-color);
}

/**
  |============================
  | gallery
  |============================
*/
.text-body {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.5px;
color: var(--main-text-color);
}
.text-gallery {
    margin-bottom: 40px;
}
.friends-list {
    --items:2;
    
    --indent:40px;
}
.third-title {
margin-bottom: 8px;

font-weight: 700;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.5px;
color: var(--main-text-color);
}